@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles pour le thème sombre */
.dark {
  background-color: #1F2937;
  color: #F3F4F6;
}

.dark .bg-white {
  background-color: #1F2937;
}

.dark .text-gray-800 {
  color: #F3F4F6;
}

.dark .border-gray-200 {
  border-color: #374151;
}

